<div class="form-group addedGroup">
    {{ form_label(form, form.vars.label, {'label_attr' : {'class' : 'control-label col-xs-2'}}) }}
    <div class="col-xs-9">
        {{ form_widget(form, {'attr' : {'class' : 'form-control'}}) }}
    </div>
</div>
