<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<style>
		p {
			margin: 0;
			padding: 0;
		}
	</style>
	<meta charset="UTF-8">
</head>
<body>
<p>Sveiki,</p>
<p></p>
<p>patvirtiname, kad Jūs sėkmingai užregistravote:</p>
<p></p>
[participants]
<p></p>
<p>Jūsų užregistruotiems asmenims nurodytais el. pašto adresais išsiuntėme nuorodas į elektroninius bilietus.</p>
<p></p>
<p>Ačiū Jums,</p>
<p></p>
<p>Vardenis Pavardenis</p>
<p>Tel.: +370 600 0000</p>
</body>
</html>
