<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<style>
		p {
			margin: 0;
			padding: 0;
		}
	</style>
	<meta charset="UTF-8">
</head>
<body>
<p>Sveiki,</p>
<p></p>
<p>Registracija į priimta sėkmingai!</p>
<p></p>
<p>Jūs pasirinkote galimybę apmokėti už dalyvavimą po renginio. Todėl tam, kad galėtume suformuoti el. bilietus Jūsų nurodytiems dalyviams, prašome atsiųsti pasirašytą laisvos formos patvirtinimą.</p>
<p></p>
<p>Patvirtinimo pavyzdį galite atsisiųsti paspaudę <a href="[guaranty_url]">šią nuorodą</a>.</p>


<p>Gavę patvirtinimą, galėsime atlikti šiuos veiksmus:</p>
<p>- išsiųsime el. bilietus Jūsų nurodytiems dalyviams,</p>
<p>- po renginio kiekvienam dalyviui įteiksime mokymo programos išklausymo pažymėjimą,</p>
<p>- po renginio Jūsų organizacijai pateiksime sąskaitą-faktūrą už kvalifikacijos tobulinimo mokymus.</p>
<p></p>
<p>Dėkojame už bendradarbiavimą!</p>
<p></p>
<p></p>
<p>Vardenis Pavardenis</p>
<p>Tel.: +370 600 0000</p>
</body>
</html>
