<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<style>
		p {
			margin: 0;
			padding: 0;
		}
	</style>
	<meta charset="UTF-8">
</head>
<body>
<p>Sveiki,</p>
<p></p>
<p>Dėkojame, kad dalyvausite renginyje.
</p>
<p>Kartu su šiuo laišku siunčiame Jums nuorodą į <a href="[site_url]?event_ticket&amp;id=[ticket_nr]">elektroninį bilietą</a>, kurį būtina pateikti atvykus į renginį. Bilietą galite pateikti atspausdintą arba parodyti išsaugotą mob. telefone.</p>
<p></p>
<p>Norėdami atsispausdinti el. bilietą, spauskite <a href="[site_url]?event_ticket&amp;id=[ticket_nr]">čia</a>.</p>
<p></p>

<p></p>
<p>Iki pasimatymo!</p>
<p></p>
<p>Pagarbiai,</p>
<p></p>
<p>Vardenis Pavardenis</p>
</body>
</html>
