<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<style>
		p {
			margin: 0;
			padding: 0;
		}
	</style>
	<meta charset="UTF-8">
</head>
<body>
<p>Sveiki,</p>
<p>siunčiame Jums nuorodą į išankstinio apmokėjimo sąskaitą: spauskite <a href="[bill_url]">čia</a></p>
<p></p>
<p>Jūsų užregistruotiems asmenims elektroninius bilietus atsiųsime iš karto, kai tik gausime apmokėjimą.</p>
<p></p>
<p>Ačiū Jums,</p>
<p></p>
<p>Vardenis pavardenis</p>
<p>Tel.: +370 000 0000</p>
</body>
</html>
