// wrapper selector for plugin content
$wrapper: '#evpTicketPluginWrapper';

// basic font definitions
$fontType: Tahoma, Arial, Helvetica, sans-serif;
$fontSize: 12px;

// seat selection colors
$seatTaken: #B4B4B4;
$seatReserved: #B43A39;
