<tr>
    <td colspan="99">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ 'admin.index.no_records'|trans({}, 'columns') }}
            </div>
        </div>
    </td>
</tr>
