{% block custom %}
    <div class="customText">
        {{ 'payment.custom.text_1'|trans }}
    </div>
    <div class="customText">
        {{ 'payment.custom.text_2'|trans }}
    </div>
{% endblock %}